@import url('https://fonts.googleapis.com/css2?family=Outfit:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.prata-regular {
    font-family: 'Prata', serif;
    font-weight: 400;
    font-style: normal;
}

a.active hr {
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }
}

.blue-gradient_text {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: #060c3f var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(0 198 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #383ada var(--tw-gradient-to-position);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.blue-gradient_bg {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: #060c3f var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(0 198 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #383ada var(--tw-gradient-to-position);
}